table { 
    width:90%;
    margin-left:auto; 
    margin-right: auto; 
    margin-top:10px
}

.selectable:hover {
    background: rgb(220, 220, 221);
}
  
.selectable:active {
    background: #efefef;
}